<form method="post" asp-controller="Post" asp-action="GetPostData">
    <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="Title" required>
    </div>
    <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="Description" required>
    </div>
    <div>
    <label for="content">Content:</label>
    <textarea id="content" name="Content" required></textarea>
    </div>
    <div>
    <label for="tags">Tags:</label>
    <input type="text" id="tag1" name="Tags[]" required message="at least one tag is required">
    <input type="text" id="tag2" name="Tags[]" optional>
    <input type="text" id="tag3" name="Tags[]" optional>
    </div>
    <button type="submit">Submit</button>
</form>
